:root {
  --text-color: #121416d8;
  --background-color: #fff;
  --body-color: #fafbfb;
}

html[data-theme="light"] {
  --text-color: #121416d8;
  --background-color: #fff;
  --body-color: #fafbfb;
}

html[data-theme="dark"] {
  --text-color: #F7F8F8;
  --background-color: #2a3742;
  --body-color: #202d36;
}