@import "reset";
@import "colors";
@import "@fontsource/ubuntu/index.css";

:root {
  --border-radius: 5px;
  --box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.3);
}

html, body {
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--body-color);
  font-family: "Ubuntu", sans-serif;
}

a {
  color: inherit;
}

.container {
  padding-left: 100px;
  padding-right: 100px;

  @media screen and (max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}