.card {
  max-width: 350px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  height: 100%;

  img {
    width: 100%;
    height: 200px;
    border-radius:  var(--border-radius) var(--border-radius) 0 0;
  }

  .body {
    padding: 20px 20px 50px 20px;

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 125%;
      margin-bottom: 20px;
    }

    p {

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      span {
        font-weight: bold;
      }
    }
  }
}