.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);

  h1 {
    font-size: 28px;
    font-weight: bold;
  }
}