.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 600px;
  }

  .details {
    h1 {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }
}