.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 80px;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}